/*||IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*||VARIABLES*/
:root {
  /*Color*/
  --BGCOL: #012;
  --FNCOL: #f9faf8;
  --LKCOL: #eeff88;
  --A1COL: #4e1fb3;
  --A2COL: #e5e7eb;
  --A3COL: #e832ac;
  --A4COL: #123;
}

/*||RESET*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--BGCOL);
  font-size: 10px;
  scroll-behavior: smooth;
}

/*||GLOBAL*/
body {
  background-color: var(--A1COL);
  color: var(--FNCOL);
  display: flex;
  flex-direction: column;
  font: clamp(1rem, 2.5vw, 2.5rem) 'Roboto Mono', monospace;
  height: 80em;
  margin: auto;
  max-height: 1920px;
  max-width: 1920px;
  min-height: 150vh;
  min-width: 300px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 0 0.2em;
}

img {
  cursor: pointer;
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  background-color: var(--A3COL);
  border-radius: 0.32em;
  border: none;
  color: var(--FNCOL);
  cursor: pointer;
  font: inherit;
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.24em 1.2em;
}

a:any-link {
  color: var(--LKCOL);
  text-decoration: none;
  font-weight: 500;
}

/*||HEADER*/
.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header nav {
  align-items: center;
  display: flex;
  padding: 0.32em 14%;
}

.nav-logo {
  align-items: center;
  color: var(--LKCOL);
  display: flex;
  font-size: 1em;
  font-weight: 700;
  margin-right: auto;
}

.nav-logo img {
  filter: invert(98%) sepia(84%) saturate(692%) hue-rotate(12deg) brightness(102%) contrast(102%);
  max-width: 2em;
  min-width: 30px;
}

/*||HERO*/
.hero {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 0.4em;
  padding: 0 14%;
}

.hero div {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-basis: 300px;
  flex-direction: column;
  gap: 0.4em;
}

.hero-title {
  font-size: 2em;
  font-weight: 700;
}

.hero div p {
  color: var(--A2COL);
  font-size: 0.8em;
  font-weight: 300;
}

.hero figure {
  flex: 1;
  flex-basis: 320px;
}

.hero figure img {
  border: 0.2em solid var(--A2COL);
  border-radius: 0.5em;
}

/*||MAIN*/
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 3.25;
}

/*||INFO*/
.main-info {
  background-color: var(--BGCOL);
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  padding: 0 20%;
  text-align: center;
}

.info-title {
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 0.5em;
}

.info-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6em;
  justify-content: center;
  margin-bottom: 2em;
}

.info-images figure {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 140px;
  max-width: 8em;
}

.info-images figure img {
  border-radius: 0.5em;
  border: 0.2em solid var(--A2COL);
  margin-bottom: 0.2em;
}

figcaption {
  font-size: smaller;
  font-weight: 300;
}

/*||QUOTE*/
.main-quote {
  align-items: center;
  background-color: var(--A4COL);
  display: flex;
  flex-basis: 35%;
  padding: 0 20%;
}

blockquote {
  color: var(--A2COL);
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 200;
  gap: 0.4em;
}

cite {
  align-self: flex-end;
  font-size: 0.6em;
  font-style: normal;
  font-weight: 700;
}

/*||SINGUP*/
.main-singup {
  align-items: center;
  background-color: var(--BGCOL);
  display: flex;
  flex-basis: 30%;
  padding: 0 14%;
}

.singup-holder {
  align-items: center;
  background-color: var(--A3COL);
  border-radius: 0.5em;
  display: flex;
  flex: 1;
  height: 45%;
  justify-content: space-evenly;
}

.singup-holder p {
  font-weight: 700;
  flex-basis: 65%;
}

sub {
  font-weight: 300;
}

.button-border {
  border: 0.2em solid var(--A2COL);
}

/*||FOOTER*/
.footer {
  flex-grow: 0.5;
  margin: 0 0.8em;
  max-height: 6em;
}

.footer p {
  margin: 0.8em 0;
}

.footer-button {
  background-color: var(--A1COL);
  border-radius: 0.2em;
  filter: invert(1);
  font-weight: bold;
  padding: 0.2em;
}

.footer-info {
  display: block;
  padding-top: 0.4em;
}

.footer-info img {
  display: inline;
  width: 1.1em;
}